<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="navFooter.css">
    <script src="/scripts/landingScript.js" defer></script>
    <script src="/scripts/navScript.js" defer></script>
    <script src="https://unpkg.com/scrollreveal" defer></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body>

    <%- include('header') %>


    <main>

        <div class="main-left">

            <h1>Participate in <span class="green">live</span><br> online courses</h1>
            <h2>Learn new skills with other members during online meetings</h2>
            <a href="#about-1">Get started</a>

        </div>   

        <div class="main-right">
            <svg width="1038" height="841" viewBox="0 0 557 452" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="undraw_Remote_meeting_re_abe7 1" clip-path="url(#clip0_4:66)">
                <g id="g1">
                <path class="b" id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M451 226C490.427 226 536.5 257.562 536.5 297C536.5 334.889 500.839 366.044 462.961 366.044C422.994 366.044 386 338.544 386 298.566C386 257.118 409.563 226 451 226Z" fill="#DEDEDE"/>
                <path id="Vector_2" d="M470.953 273.041C472.887 264.608 467.627 256.202 459.206 254.266C450.784 252.329 442.39 257.596 440.456 266.03C438.523 274.463 443.783 282.869 452.204 284.805C460.626 286.741 469.02 281.474 470.953 273.041Z" fill="#9E616A"/>
                <path id="Vector_3" d="M500.65 307.427C500.075 304.664 498.774 302.112 496.885 300.041C494.997 297.971 492.591 296.461 489.925 295.671L489.914 295.665C489.405 295.41 488.866 295.222 488.311 295.105L469.523 291.195L465.759 287.087L449.743 288.127L448.071 292.853L429.673 301.169L429.978 300.952C429.189 301.273 428.423 301.647 427.683 302.071L427.589 302.113C427.059 302.355 426.566 302.674 426.127 303.062C421.448 306.364 418.357 311.666 418.243 317.577L417.757 322.4H503.775L500.65 307.427Z" fill="#008C8C"/>
                <path id="Vector_4" d="M472.804 261.2C471.49 257.238 467.646 253.893 463.338 253.999C463.673 253.011 463.1 251.903 462.242 251.274C461.384 250.645 460.299 250.393 459.244 250.181C457.064 249.742 454.791 249.407 452.624 249.902C450.456 250.396 448.402 251.897 447.914 253.995C445.94 252.208 442.289 252.702 440.9 254.944C440.185 256.098 440.084 257.648 440.856 258.766C441.624 259.877 443.078 260.377 444.46 260.44C445.842 260.503 447.211 260.204 448.587 260.064C451.874 259.731 455.345 260.371 458.003 262.268C460.66 264.165 462.358 267.418 461.885 270.575C462.947 269.92 464.478 270.375 465.219 271.359C465.961 272.343 466.02 273.687 465.675 274.857C465.331 276.028 464.631 277.066 463.941 278.085C462.671 279.96 461.401 281.836 460.131 283.711L460.652 284.045C462.567 284.825 464.64 283.367 466.035 281.879C468.387 279.367 470.281 276.489 471.638 273.367C473.304 269.531 474.118 265.162 472.804 261.2Z" fill="#2F2E41"/>
                </g>
                <g id="g2">
                <path class="b" id="Vector_5" fill-rule="evenodd" clip-rule="evenodd" d="M106.691 89.3748C146.119 89.3748 176.384 123.003 176.384 162.441C176.384 200.33 144.57 229.919 106.691 229.919C66.725 229.919 29.7309 202.419 29.7309 162.441C29.7309 120.992 65.2542 89.3748 106.691 89.3748Z" fill="#DEDEDE"/>
                <path id="Vector_6" d="M124.526 132.807L124.253 133.297C126.684 127.33 124.473 119.977 120.136 115.477C115.8 110.978 109.771 108.921 103.834 108.105C99.4271 107.499 94.8528 107.517 90.6624 109.124C84.5943 111.453 79.9581 116.842 76.0872 122.449C74.3166 125.013 72.5758 127.937 72.7522 131.142C72.9159 134.117 74.6887 136.641 76.1404 139.165C77.5923 141.688 78.8047 144.819 77.7627 147.573C77.1418 149.215 75.8295 150.397 74.7648 151.74C73.7 153.082 72.8241 154.897 73.3385 156.582C73.7546 157.945 75.0063 158.841 76.2937 159.14C77.5809 159.439 78.9162 159.243 80.2199 159.047L114.058 153.955C116.357 153.609 118.538 152.715 120.416 151.348C122.293 149.981 123.81 148.182 124.838 146.104C125.867 144.027 126.375 141.733 126.321 139.417C126.266 137.102 125.65 134.834 124.526 132.807V132.807Z" fill="#2F2E41"/>
                <path id="Vector_7" d="M99.5322 153.644C108.488 153.644 115.749 146.213 115.749 137.047C115.749 127.88 108.488 120.45 99.5322 120.45C90.5761 120.45 83.3157 127.88 83.3157 137.047C83.3157 146.213 90.5761 153.644 99.5322 153.644Z" fill="#FFB9B9"/>
                <path id="Vector_8" d="M141.116 174.997C140.033 172.631 138.326 170.603 136.177 169.13C134.028 167.658 131.518 166.796 128.916 166.638L124.255 166.357L124.266 166.406V166.406L112.417 159.294C112.708 159.627 93.1435 160.324 93.1435 160.324L85.8842 166.573L82.8398 166.756C80.2376 166.915 77.7276 167.776 75.5785 169.249C73.4295 170.721 71.7223 172.749 70.64 175.116L60.7537 196.725H80.4585L80.9156 194.762C81.4128 195.366 81.895 195.981 82.3621 196.607H151.002L141.116 174.997Z" fill="#008C8C"/>
                <path id="Vector_9" d="M114.98 121.533C114.56 119.221 112.296 118.164 110.356 117.652C104.729 116.157 98.8761 115.822 93.1259 116.667C88.9341 117.289 84.6428 118.662 81.6013 122.068C79.2291 124.725 77.7938 128.532 77.6821 132.462C77.6171 134.752 78.0104 137.136 79.1048 139.065C80.1994 140.994 82.065 142.393 83.9909 142.344L84.1859 143.05C92.3477 141.866 99.9293 136.578 104.704 128.74C103.808 132.072 102.025 135.071 99.5602 137.392C105.07 135.097 109.86 131.253 113.396 126.29C114.362 124.955 115.299 123.291 114.98 121.533Z" fill="#2F2E41"/>
                </g>
                <g id="g3">
                <path id="Vector_10" d="M292.65 96.4373H172.223C170.709 96.4356 169.258 95.8329 168.187 94.7613C167.117 93.6898 166.515 92.237 166.513 90.7217V29.4092C166.515 27.8938 167.117 26.441 168.187 25.3695C169.258 24.298 170.709 23.6952 172.223 23.6935H292.65C294.164 23.6952 295.615 24.298 296.686 25.3695C297.756 26.441 298.358 27.8938 298.36 29.4092V90.7217C298.358 92.237 297.756 93.6898 296.686 94.7614C295.615 95.8329 294.164 96.4356 292.65 96.4373V96.4373Z" fill="#dbdfe6"/>
                <path id="Vector_11" d="M291.192 92.1998H173.681C172.903 92.199 172.156 91.8892 171.605 91.3386C171.054 90.788 170.744 90.0415 170.744 89.2628V30.8681C170.744 30.0894 171.054 29.3429 171.605 28.7922C172.156 28.2416 172.903 27.9319 173.681 27.9311H291.192C291.971 27.9319 292.718 28.2416 293.268 28.7922C293.819 29.3429 294.129 30.0894 294.13 30.8681V89.2628C294.129 90.0415 293.819 90.788 293.268 91.3386C292.718 91.8892 291.971 92.199 291.192 92.1998Z" fill="white"/>
                <path id="Vector_12" d="M179.284 107.737C178.993 107.737 178.704 107.68 178.435 107.571C178.034 107.415 177.691 107.145 177.451 106.796C177.211 106.448 177.085 106.037 177.089 105.618V94.7332L194.011 94.3185L180.812 107.113C180.613 107.31 180.375 107.466 180.112 107.574C179.85 107.681 179.569 107.736 179.284 107.737V107.737Z" fill="#dbdfe6"/>
                <path id="Vector_13" d="M277.238 57.5935H217.252C216.885 57.5941 216.522 57.5214 216.183 57.3797C215.844 57.238 215.536 57.03 215.276 56.7676C215.017 56.5052 214.811 56.1936 214.67 55.8506C214.53 55.5076 214.458 55.1399 214.458 54.7685C214.458 54.3972 214.53 54.0295 214.67 53.6865C214.811 53.3435 215.017 53.0319 215.276 52.7695C215.536 52.5071 215.844 52.2991 216.183 52.1574C216.522 52.0157 216.885 51.943 217.252 51.9435H277.238C277.978 51.9435 278.688 52.2412 279.211 52.771C279.734 53.3008 280.028 54.0193 280.028 54.7685C280.028 55.5178 279.734 56.2363 279.211 56.7661C278.688 57.2959 277.978 57.5935 277.238 57.5935Z" fill="rgb(223 227 234)"/>
                <path id="Vector_14" d="M257.509 45.5873H217.235C216.498 45.5873 215.792 45.2897 215.271 44.7599C214.75 44.2301 214.458 43.5116 214.458 42.7623C214.458 42.0131 214.75 41.2945 215.271 40.7647C215.792 40.2349 216.498 39.9373 217.235 39.9373H257.509C258.246 39.9373 258.952 40.2349 259.473 40.7647C259.994 41.2945 260.287 42.0131 260.287 42.7623C260.287 43.5116 259.994 44.2301 259.473 44.7599C258.952 45.2897 258.246 45.5873 257.509 45.5873V45.5873Z" fill="rgb(223 227 234)"/>
                <path id="Vector_15" d="M192.601 57.5936C197.273 57.5936 201.061 53.6411 201.061 48.7654C201.061 43.8898 197.273 39.9373 192.601 39.9373C187.928 39.9373 184.14 43.8898 184.14 48.7654C184.14 53.6411 187.928 57.5936 192.601 57.5936Z" fill="#008C8C"/>
                </g>
                <g id="g4">
                <path id="Vector_16" d="M408.684 219.975H284.393C282.831 219.974 281.333 219.353 280.228 218.251C279.123 217.148 278.502 215.653 278.5 214.093V150.995C278.502 149.436 279.123 147.94 280.228 146.838C281.333 145.735 282.831 145.115 284.393 145.113H408.684C410.246 145.115 411.744 145.735 412.849 146.838C413.954 147.94 414.575 149.436 414.577 150.995V214.093C414.575 215.653 413.954 217.148 412.849 218.251C411.744 219.353 410.246 219.974 408.684 219.975V219.975Z" fill="#dbdfe6"/>
                <path id="Vector_17" d="M407.308 215.738H285.769C284.963 215.737 284.191 215.417 283.621 214.848C283.052 214.28 282.731 213.508 282.73 212.704V152.384C282.731 151.58 283.052 150.809 283.621 150.24C284.191 149.671 284.963 149.351 285.769 149.35H407.308C408.114 149.351 408.886 149.671 409.456 150.24C410.025 150.809 410.346 151.58 410.347 152.384V212.704C410.346 213.508 410.025 214.28 409.456 214.848C408.886 215.417 408.114 215.737 407.308 215.738Z" fill="white"/>
                <path id="Vector_18" d="M400.123 231.291L386.375 217.15L404.001 217.609V229.639C404.006 230.102 403.875 230.556 403.624 230.941C403.374 231.327 403.017 231.625 402.599 231.798C402.319 231.918 402.019 231.981 401.715 231.982C401.419 231.981 401.125 231.919 400.852 231.801C400.579 231.682 400.331 231.509 400.123 231.291V231.291Z" fill="#dbdfe6"/>
                <path id="Vector_19" d="M392.011 179.719H331.383C331.013 179.72 330.646 179.647 330.303 179.505C329.961 179.364 329.649 179.156 329.387 178.893C329.125 178.631 328.916 178.319 328.774 177.976C328.633 177.633 328.559 177.266 328.559 176.894C328.559 176.523 328.633 176.155 328.774 175.812C328.916 175.469 329.125 175.158 329.387 174.895C329.649 174.633 329.961 174.425 330.303 174.283C330.646 174.141 331.013 174.069 331.383 174.069H392.011C392.382 174.069 392.749 174.141 393.092 174.283C393.434 174.425 393.746 174.633 394.008 174.895C394.27 175.158 394.478 175.469 394.62 175.812C394.762 176.155 394.835 176.523 394.835 176.894C394.835 177.266 394.762 177.633 394.62 177.976C394.478 178.319 394.27 178.631 394.008 178.893C393.746 179.156 393.434 179.364 393.092 179.505C392.749 179.647 392.382 179.72 392.011 179.719V179.719Z" fill="rgb(223 227 234)"/>
                <path id="Vector_20" d="M372.273 167.713H331.38C331.009 167.713 330.643 167.64 330.3 167.498C329.958 167.356 329.647 167.148 329.386 166.886C329.124 166.623 328.916 166.312 328.774 165.969C328.632 165.626 328.559 165.259 328.559 164.888C328.559 164.517 328.632 164.15 328.774 163.807C328.916 163.464 329.124 163.153 329.386 162.89C329.647 162.628 329.958 162.42 330.3 162.278C330.643 162.136 331.009 162.063 331.38 162.063H372.273C373.021 162.063 373.739 162.361 374.268 162.89C374.797 163.42 375.094 164.139 375.094 164.888C375.094 165.637 374.797 166.356 374.268 166.886C373.739 167.415 373.021 167.713 372.273 167.713V167.713Z" fill="rgb(223 227 234)"/>
                <path id="Vector_21" d="M305.645 179.719C310.512 179.719 314.458 175.767 314.458 170.891C314.458 166.015 310.512 162.063 305.645 162.063C300.777 162.063 296.832 166.015 296.832 170.891C296.832 175.767 300.777 179.719 305.645 179.719Z" fill="#008C8C"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_4:66">
                <rect width="557" height="452" fill="white"/>
                </clipPath>
                </defs>
                </svg>                                         
        </div>

    </main>



    <section class="about-1" id="about-1">

        <div class="about-1-l">
            
            <h2 class="whath2">What is it all about?</h2>
            <p class="whatp">
                On our website, You can either be a student, or a mentor, as a mentor, you can organise courses,
                composed of live online mettings at your chosen topic, and as a student,
                you can to buy access to mentor’s meetings, and participate in them, with free access to them in any time.
            </p>
            <a class="whata" href="/categories">Show Courses</a>

        </div>

        <div class="about-1-r">
            <svg class="whatsvg" width="661" height="431" viewBox="0 0 661 431" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_5:544)" filter="url(#filter0_d_5:544)">
                <path d="M647 6.36351H6.2736V417H647V6.36351Z" fill="white"/>
                <path d="M634.988 44.15H18.2856V406.575H634.988V44.15Z" fill="white"/>
                <path d="M646.726 6H6V33.2394H646.726V6Z" fill="#008C8C"/>
                <path d="M26.228 24.9749C29.0143 24.9749 31.2731 22.7145 31.2731 19.9262C31.2731 17.138 29.0143 14.8776 26.228 14.8776C23.4417 14.8776 21.1829 17.138 21.1829 19.9262C21.1829 22.7145 23.4417 24.9749 26.228 24.9749Z" fill="white"/>
                <path d="M45.3779 24.9749C48.1643 24.9749 50.423 22.7145 50.423 19.9262C50.423 17.138 48.1643 14.8776 45.3779 14.8776C42.5916 14.8776 40.3328 17.138 40.3328 19.9262C40.3328 22.7145 42.5916 24.9749 45.3779 24.9749Z" fill="white"/>
                <path d="M64.5278 24.9749C67.3142 24.9749 69.5729 22.7145 69.5729 19.9262C69.5729 17.138 67.3142 14.8776 64.5278 14.8776C61.7415 14.8776 59.4827 17.138 59.4827 19.9262C59.4827 22.7145 61.7415 24.9749 64.5278 24.9749Z" fill="white"/>
                <path d="M210.931 146.004C210.931 146.004 213.247 177.985 212.191 179.865C211.135 181.746 230.735 215.528 230.735 215.528L262.071 186.14C262.071 186.14 260.173 145.488 262.192 143.654C264.211 141.82 210.931 146.004 210.931 146.004Z" fill="#A0616A"/>
                <path d="M237.578 170.427C257.807 170.427 274.207 154.016 274.207 133.772C274.207 113.528 257.807 97.1172 237.578 97.1172C217.348 97.1172 200.948 113.528 200.948 133.772C200.948 154.016 217.348 170.427 237.578 170.427Z" fill="#A0616A"/>
                <path d="M234.74 192.544L230.982 190.431L212.438 173.717C212.438 173.717 210.591 173.028 210.312 178.809L210.033 184.59L198.061 192.702L197.511 324.015L280.313 328.018L283.797 195.882L265.099 183.389L261.673 176.08L240.61 190.897L234.74 192.544Z" fill="white"/>
                <path d="M317.127 205.218L307.969 338.883H169.694C152.073 318.009 138 210.6 153.018 207.417C157.924 205.72 191.19 195.263 191.19 195.263C191.19 195.263 201.128 188.984 204.299 183.35C206.247 179.997 208.633 176.919 211.393 174.196L211.413 174.177L211.422 174.158C211.499 174.081 211.567 174.003 211.644 173.936C211.659 173.909 211.683 173.889 211.712 173.878C211.808 173.772 211.904 173.675 212.01 173.579V173.724L211.307 198.167L237.795 289.264C237.795 289.264 245.256 234.58 252.833 217.565C257.103 207.977 259.339 196.141 260.477 187.633C261.354 181.045 261.576 176.463 261.576 176.463C261.576 176.463 261.614 176.511 261.682 176.598V176.608C261.682 176.609 261.682 176.61 261.682 176.612C261.683 176.613 261.683 176.614 261.684 176.615C261.685 176.616 261.686 176.616 261.688 176.617C261.689 176.617 261.69 176.618 261.691 176.618C261.807 176.762 261.99 177.003 262.26 177.331L262.27 177.341C264.487 180.119 271.6 188.53 276.42 188.762C282.194 189.042 298.051 200.434 298.051 200.434C305.801 199.835 317.127 205.218 317.127 205.218Z" fill="#2F2E41"/>
                <path d="M272.624 307.366C272.624 307.366 283.057 271.173 298.276 275.771C313.495 280.37 296.787 306.603 296.787 306.603L272.624 307.366Z" fill="#A0616A"/>
                <path d="M212.006 336.765C212.006 336.765 177.99 320.635 184.975 306.344C191.96 292.054 215.143 312.778 215.143 312.778L212.006 336.765Z" fill="#A0616A"/>
                <path d="M225.631 338.883H217.466C214.184 338.069 210.856 337.457 207.499 337.05C206.728 337.011 206.477 335.806 206.574 333.896C206.843 330.738 207.362 327.606 208.126 324.53C209.292 319.321 210.854 313.687 211.856 310.099V310.089C212.444 307.996 212.83 306.607 212.839 306.405C212.868 305.768 218.208 306.646 221.891 307.321C223.828 307.678 225.303 307.977 225.303 307.977L225.486 325.369L225.631 338.883Z" fill="white"/>
                <path d="M334.603 322.919C332.251 329.584 330.554 334.86 329.166 338.883H222.238C221.881 335.198 221.428 330.153 221.139 325.157C220.666 317.16 220.589 309.289 221.891 307.321C221.951 307.21 222.033 307.112 222.133 307.034C222.232 306.956 222.347 306.899 222.469 306.868C224.966 306.376 253.17 305.932 273.143 305.672C275.919 305.643 278.531 305.614 280.902 305.585C288.103 305.498 292.98 305.45 292.98 305.45C292.98 305.45 293.366 292.254 294.542 275.431C296.614 245.857 301.145 205.064 310.379 204.89L317.127 205.218C317.127 205.218 320.973 205.401 322.621 211.276C324.269 217.15 341.312 303.926 334.603 322.919Z" fill="#2F2E41"/>
                <path d="M207.579 99.4315L200.759 96.5697C200.759 96.5697 215.975 82.7463 236.109 84.9858L230.704 79.0273C230.704 79.0273 244.832 74.6464 256.813 88.5188C263.112 95.8111 270.393 104.377 274.733 113.84L282.167 114.199L278.764 120.259L289.325 126.994L278.232 125.34C279.029 130.752 278.398 136.279 276.401 141.372L273.541 148.197C273.541 148.197 264.42 127.5 264.541 124.974L264.237 131.289C264.237 131.289 257.569 125.269 257.752 121.48L253.752 125.718L252.194 118.68L228.508 124.497L232.569 118.997L217.963 120.19L223.978 113.517C223.978 113.517 207.173 120.934 206.207 127.85C205.24 134.767 196.609 143.211 196.609 143.211L193.128 136.713C193.128 136.713 188.82 108.02 207.579 99.4315Z" fill="#2F2E41"/>
                <path d="M560.109 339.678H77.2707V67.199H560.109V339.678ZM78.8592 338.088H558.521V68.7886H78.8592V338.088Z" fill="white"/>
                <path d="M466.504 100.984C461.938 93.2647 452.906 92.9049 452.906 92.9049C452.906 92.9049 444.104 91.7786 438.458 103.536C433.195 114.495 425.932 125.075 437.289 127.641L439.34 121.252L440.61 128.116C442.227 128.233 443.849 128.261 445.469 128.2C457.632 127.807 469.214 128.315 468.841 123.947C468.345 118.141 470.897 108.412 466.504 100.984Z" fill="#2F2E41"/>
                <path d="M449.661 127.286C449.755 128.155 449.611 129.033 449.245 129.826C448.39 131.322 446.302 131.545 445.046 132.724C443.725 133.964 443.575 135.975 443.512 137.786C443.319 139.677 443.513 141.586 444.081 143.399C444.504 144.371 445.039 145.29 445.674 146.138C446.441 147.244 447.215 148.345 447.996 149.442C448.413 150.059 448.878 150.643 449.386 151.188C450.867 152.542 452.668 153.498 454.62 153.966C455.834 154.426 457.158 154.513 458.422 154.218C459.234 153.9 459.983 153.44 460.633 152.857C461.582 152.176 462.426 151.358 463.136 150.43C464.056 148.853 464.582 147.077 464.666 145.253C465.298 139.914 465.544 134.536 465.402 129.161C465.428 128.576 465.323 127.991 465.095 127.451C464.459 126.209 462.756 125.943 461.858 124.874C461.091 123.96 461.059 122.656 461.066 121.462L461.083 118.423C461.109 118.167 461.058 117.909 460.935 117.683C460.824 117.561 460.689 117.462 460.54 117.392C460.39 117.323 460.229 117.283 460.064 117.276C458.176 116.963 456.263 116.834 454.35 116.893C452.8 116.941 449.825 116.811 448.484 117.675C447.267 118.46 448.791 120.626 449.073 121.843C449.452 123.633 449.649 125.457 449.661 127.286Z" fill="#FFB8B8"/>
                <path d="M453.22 122.068C459.999 122.068 465.495 116.568 465.495 109.784C465.495 103 459.999 97.5002 453.22 97.5002C446.441 97.5002 440.945 103 440.945 109.784C440.945 116.568 446.441 122.068 453.22 122.068Z" fill="#FFB8B8"/>
                <path d="M446.218 132.38C444.891 131.61 443.09 132.234 442.124 133.426C441.237 134.691 440.766 136.202 440.778 137.748C440.793 139.282 440.683 140.816 440.45 142.333C439.712 145.647 436.977 148.372 436.773 151.761C436.573 155.095 438.858 158 439.982 161.145C440.663 163.105 440.948 165.181 440.82 167.253C440.752 167.581 440.751 167.919 440.819 168.247C440.887 168.575 441.021 168.885 441.213 169.159C441.458 169.374 441.748 169.53 442.062 169.617C447.486 171.527 453.345 171.692 459.093 171.838L468.587 172.078C469.161 172.147 469.743 172.049 470.263 171.797C471.115 171.275 471.229 170.103 471.243 169.104C471.368 160.494 471.002 151.885 470.636 143.282C470.592 140.16 470.282 137.047 469.708 133.977C469.674 133.581 469.553 133.197 469.352 132.854C469.151 132.511 468.876 132.217 468.547 131.994C468.228 131.886 467.892 131.842 467.556 131.864C467.22 131.887 466.892 131.975 466.591 132.125C463.648 133.22 454.295 137.417 453.374 135.923C452.304 134.189 445.697 133.678 446.218 132.38Z" fill="white"/>
                <path d="M446.696 132.593C446.455 132.764 446.217 132.945 445.988 133.136C445.134 133.842 444.368 134.649 443.708 135.539C442.615 137.03 441.745 138.673 441.126 140.415C440.114 143.506 439.424 146.693 439.067 149.926C438.865 151.11 438.756 152.308 438.741 153.51C438.812 157.926 441.421 162.017 441.424 166.436C441.424 166.604 441.421 166.769 441.411 166.936C441.38 167.66 441.295 168.38 441.156 169.091C440.965 170.128 440.69 171.151 440.418 172.172C439.84 174.769 438.913 177.277 437.662 179.625C437.528 179.853 437.383 180.078 437.236 180.296H427.846C427.92 180.071 427.997 179.85 428.071 179.625C429.67 174.883 431.269 170.142 432.866 165.403C433.356 163.953 433.845 162.497 434.191 161.007C434.586 159.167 434.856 157.302 434.999 155.426C435.368 151.536 435.61 147.639 435.727 143.734C435.695 142.327 435.873 140.924 436.253 139.569C436.678 138.486 437.239 137.462 437.923 136.522C438.892 135.062 439.862 133.603 440.831 132.143C441.313 131.292 441.974 130.557 442.769 129.988C443.463 129.562 444.288 129.408 445.019 129.049C445.479 128.787 445.921 128.495 446.341 128.173C447.434 127.398 448.718 126.582 449.661 127.374C449.813 127.501 449.945 127.652 450.05 127.82C450.103 127.903 450.152 127.99 450.194 128.079C451.099 130.039 447.913 131.73 446.696 132.593Z" fill="#2F2E41"/>
                <path d="M477.629 180.296H434.14C434.375 180.081 434.607 179.857 434.831 179.625C434.865 179.592 434.895 179.558 434.929 179.524C436.592 177.796 436.971 175.672 437.806 173.423C438.433 171.729 439.06 170.035 439.687 168.343C439.786 168.013 439.949 167.707 440.167 167.44C440.348 167.252 440.576 167.116 440.827 167.044C441.017 166.986 441.213 166.95 441.411 166.937C441.693 166.918 441.977 166.918 442.259 166.937C450.063 167.339 457.861 167.83 465.654 168.41C466.66 168.487 467.666 168.564 468.672 168.641C469.493 169.252 470.305 169.9 471.08 170.584C473.649 172.721 475.687 175.427 477.032 178.487C477.183 178.86 477.32 179.239 477.434 179.625C477.508 179.847 477.572 180.071 477.629 180.296Z" fill="#2F2E41"/>
                <path d="M464.485 100.24L455.562 95.5627L443.239 97.4758L440.689 108.745L447.036 108.501L448.809 104.361V108.432L451.738 108.32L453.437 101.729L454.499 108.745L464.91 108.532L464.485 100.24Z" fill="#2F2E41"/>
                <path d="M477.629 180.296H467.81C467.739 180.075 467.672 179.85 467.609 179.625C466.915 177.129 466.406 174.585 466.086 172.014C465.982 171.279 465.892 170.541 465.808 169.806C465.754 169.339 465.704 168.876 465.654 168.41C465.09 163.228 464.658 157.997 463.075 153.037C462.883 152.436 462.676 151.838 462.474 151.241C462.103 150.213 461.811 149.157 461.602 148.083C461.173 145.627 461.495 143.083 461.052 140.63C460.804 139.261 460.311 138.056 460.013 136.801C459.823 136.043 459.748 135.262 459.792 134.482C460.514 133.8 461.424 133.349 462.404 133.187C462.748 133.183 463.078 133.05 463.33 132.814C463.45 132.607 463.504 132.368 463.484 132.13C463.507 130.547 463.417 128.964 463.212 127.394C463.145 126.844 463.061 126.294 462.961 125.747C462.957 125.72 462.951 125.696 462.947 125.669C463.79 125.371 464.685 125.25 465.576 125.314C466.546 125.317 467.511 125.317 468.477 125.32C470.265 125.327 472.052 125.333 473.839 125.337C475.503 125.225 477.172 125.466 478.736 126.045C480.284 126.826 481.528 128.102 482.27 129.67C483.002 131.227 483.538 132.87 483.866 134.559C483.973 135.023 484.03 135.496 484.034 135.972C484.108 139.751 481.291 143.556 481.009 147.419C480.919 148.671 481.023 149.932 480.909 151.184C480.795 152.439 480.459 153.668 480.399 154.923C480.396 154.986 480.392 155.053 480.392 155.117C480.429 156.756 480.764 158.374 481.381 159.893C482.233 162.285 483.27 164.604 484.339 166.91C485.372 169.141 486.432 171.363 487.384 173.625C487.88 174.675 488.213 175.794 488.374 176.944C488.479 177.868 488.303 178.803 487.867 179.625C487.755 179.828 487.622 180.019 487.468 180.192L487.461 180.199C487.431 180.233 487.401 180.266 487.371 180.296H477.629V180.296Z" fill="#2F2E41"/>
                <path d="M486.982 176.853C486.941 177.3 486.819 177.735 486.623 178.138C486.606 178.179 486.59 178.216 486.573 178.256C486.378 178.716 486.18 179.169 485.976 179.625C485.875 179.846 485.775 180.071 485.671 180.296H480.117C480.318 180.086 480.504 179.861 480.674 179.625C481.526 178.44 482.019 177.001 482.887 175.722C483.005 175.547 483.141 175.385 483.293 175.239C484.685 173.89 487.069 174.165 486.982 176.853Z" fill="#FFB8B8"/>
                <path d="M490.597 180.296C490.668 180.076 490.727 179.852 490.775 179.625C490.815 179.447 490.849 179.273 490.875 179.095C491.053 177.924 491.05 176.726 491.328 175.575C491.72 173.927 492.898 171.977 491.928 170.591C492.682 170.436 493.393 170.118 494.011 169.658C494.313 169.421 494.532 169.092 494.633 168.721C494.734 168.35 494.714 167.956 494.574 167.598C494.229 166.923 493.293 166.477 493.421 165.728C493.484 165.491 493.596 165.269 493.749 165.077C494.258 164.275 494.521 163.341 494.506 162.39C494.491 161.44 494.199 160.515 493.666 159.728C493.36 159.292 492.985 158.909 492.706 158.453C492.402 157.895 492.169 157.301 492.012 156.684C491.044 153.562 489.616 150.601 487.777 147.899C487.369 147.379 487.053 146.793 486.841 146.167C486.718 145.489 486.693 144.796 486.767 144.11C486.739 141.381 485.902 138.722 484.363 136.469C484.256 136.301 484.145 136.136 484.034 135.972C482.567 133.934 480.929 132.024 479.138 130.264C478.435 130.467 477.826 130.91 477.414 131.515C477.232 131.909 477.119 132.331 477.082 132.764C476.606 136.086 476.194 139.428 475.872 142.768C475.651 144.45 475.606 146.15 475.738 147.842C475.875 149.544 476.541 151.161 477.642 152.466C478.357 153.251 479.262 153.835 480.037 154.56C480.161 154.678 480.282 154.798 480.399 154.923C480.957 155.518 481.453 156.169 481.878 156.866C483.736 159.87 484.598 163.386 484.339 166.91C484.293 167.545 484.209 168.177 484.088 168.802C483.941 169.698 483.639 170.561 483.196 171.353C482.844 171.933 482.381 172.44 482.062 173.041C481.883 173.33 481.776 173.658 481.749 173.997C481.722 174.336 481.777 174.677 481.908 174.991C482.381 174.99 482.85 175.074 483.293 175.239C484.337 175.642 485.245 176.335 485.909 177.236C486.154 177.56 486.376 177.901 486.573 178.256C486.822 178.698 487.043 179.156 487.237 179.625C487.317 179.81 487.394 180.001 487.468 180.192C487.485 180.226 487.499 180.26 487.508 180.296L490.597 180.296Z" fill="#2F2E41"/>
                <path d="M544.118 181.549H370.447V83.0948H544.118V181.549ZM372.036 179.959H542.53V84.6844H372.036V179.959Z" fill="white"/>
                <path d="M326.374 389.751C336.243 389.751 344.243 381.745 344.243 371.87C344.243 361.994 336.243 353.989 326.374 353.989C316.506 353.989 308.506 361.994 308.506 371.87C308.506 381.745 316.506 389.751 326.374 389.751Z" fill="white"/>
                <path d="M326.374 385.578C333.94 385.578 340.073 379.441 340.073 371.87C340.073 364.299 333.94 358.161 326.374 358.161C318.808 358.161 312.675 364.299 312.675 371.87C312.675 379.441 318.808 385.578 326.374 385.578Z" fill="white"/>
                <path d="M333.237 379.357C333.155 379.357 333.074 379.341 332.998 379.31C332.922 379.278 332.854 379.232 332.796 379.174L319.068 365.437C318.956 365.319 318.895 365.162 318.897 364.999C318.899 364.836 318.965 364.68 319.08 364.565C319.195 364.45 319.35 364.385 319.513 364.382C319.676 364.38 319.833 364.442 319.951 364.554L333.678 378.291C333.765 378.378 333.825 378.49 333.849 378.611C333.873 378.732 333.86 378.857 333.813 378.971C333.766 379.085 333.686 379.183 333.583 379.252C333.481 379.32 333.36 379.357 333.237 379.357Z" fill="#008C8C"/>
                <path d="M326.061 374.2L324.041 372.179C324.03 372.167 324.015 372.16 323.999 372.157C323.983 372.154 323.966 372.157 323.952 372.164C323.937 372.171 323.925 372.183 323.918 372.197C323.91 372.212 323.907 372.228 323.909 372.245C323.991 372.769 324.237 373.254 324.612 373.629C324.987 374.004 325.471 374.25 325.995 374.332C326.011 374.334 326.028 374.331 326.042 374.324C326.057 374.316 326.068 374.304 326.076 374.289C326.083 374.275 326.085 374.258 326.083 374.242C326.08 374.226 326.073 374.211 326.061 374.2Z" fill="#008C8C"/>
                <path d="M326.685 369.528L328.708 371.552C328.72 371.563 328.734 371.571 328.751 371.574C328.767 371.577 328.783 371.574 328.798 371.567C328.813 371.559 328.825 371.548 328.832 371.533C328.84 371.519 328.843 371.502 328.841 371.486C328.759 370.961 328.513 370.475 328.138 370.1C327.762 369.724 327.277 369.477 326.752 369.396C326.736 369.394 326.719 369.396 326.705 369.404C326.69 369.411 326.678 369.423 326.671 369.438C326.663 369.453 326.661 369.469 326.663 369.485C326.666 369.502 326.674 369.517 326.685 369.528Z" fill="#008C8C"/>
                <path d="M335.538 372.541C335.667 372.339 335.735 372.103 335.734 371.863C335.734 371.622 335.664 371.387 335.534 371.185C334.533 369.62 333.214 368.283 331.663 367.262C330.09 366.215 328.249 365.645 326.361 365.62C325.408 365.621 324.463 365.777 323.56 366.08C323.535 366.088 323.512 366.103 323.494 366.123C323.476 366.142 323.463 366.166 323.457 366.192C323.451 366.218 323.452 366.245 323.459 366.271C323.466 366.297 323.48 366.32 323.499 366.339L325.341 368.182C325.36 368.202 325.384 368.215 325.41 368.223C325.436 368.23 325.464 368.23 325.49 368.223C326.115 368.071 326.768 368.082 327.387 368.256C328.006 368.429 328.569 368.759 329.024 369.214C329.478 369.669 329.808 370.233 329.982 370.852C330.155 371.472 330.166 372.125 330.014 372.75C330.007 372.776 330.008 372.804 330.015 372.83C330.022 372.856 330.036 372.88 330.055 372.899L332.705 375.553C332.733 375.58 332.769 375.597 332.808 375.598C332.847 375.6 332.886 375.587 332.916 375.562C333.936 374.692 334.819 373.674 335.538 372.541Z" fill="#008C8C"/>
                <path d="M326.373 375.611C325.806 375.611 325.247 375.482 324.737 375.234C324.227 374.986 323.781 374.626 323.43 374.18C323.08 373.734 322.835 373.215 322.715 372.661C322.594 372.106 322.601 371.532 322.735 370.981C322.741 370.955 322.741 370.927 322.734 370.901C322.727 370.875 322.713 370.851 322.694 370.832L320.087 368.223C320.059 368.195 320.022 368.179 319.983 368.177C319.944 368.175 319.906 368.188 319.876 368.214C318.874 369.082 317.988 370.075 317.237 371.169C317.096 371.371 317.018 371.611 317.014 371.858C317.009 372.105 317.078 372.348 317.212 372.556C318.196 374.122 319.503 375.461 321.045 376.484C322.62 377.534 324.468 378.099 326.361 378.108C327.323 378.106 328.278 377.954 329.194 377.657C329.219 377.649 329.242 377.635 329.26 377.615C329.278 377.595 329.291 377.572 329.298 377.546C329.304 377.519 329.303 377.492 329.296 377.466C329.289 377.441 329.275 377.417 329.256 377.398L327.405 375.546C327.386 375.527 327.362 375.513 327.336 375.506C327.31 375.499 327.283 375.499 327.256 375.505C326.967 375.575 326.671 375.611 326.373 375.611Z" fill="#008C8C"/>
                <path d="M258.579 389.751C268.447 389.751 276.447 381.745 276.447 371.87C276.447 361.994 268.447 353.989 258.579 353.989C248.71 353.989 240.71 361.994 240.71 371.87C240.71 381.745 248.71 389.751 258.579 389.751Z" fill="white"/>
                <path d="M258.579 385.578C266.145 385.578 272.278 379.441 272.278 371.87C272.278 364.299 266.145 358.161 258.579 358.161C251.013 358.161 244.88 364.299 244.88 371.87C244.88 379.441 251.013 385.578 258.579 385.578Z" fill="white"/>
                <path d="M263.842 380.611C262.618 380.514 261.438 380.111 260.41 379.44C258.419 378.376 256.602 377.016 255.02 375.406C253.382 373.845 252.014 372.023 250.972 370.014C249.535 367.399 249.78 366.028 250.054 365.443C250.37 364.802 250.867 364.269 251.483 363.908C251.837 363.677 252.21 363.478 252.6 363.315C252.639 363.298 252.675 363.282 252.708 363.268C252.837 363.195 252.98 363.15 253.127 363.137C253.275 363.123 253.424 363.141 253.564 363.19C253.875 363.34 254.152 363.552 254.377 363.814C255.188 364.725 255.873 365.741 256.411 366.836C256.633 367.214 256.769 367.637 256.81 368.073C256.778 368.506 256.603 368.915 256.313 369.237C256.262 369.307 256.211 369.373 256.162 369.438C255.866 369.828 255.8 369.941 255.843 370.143C256.24 371.155 256.855 372.068 257.645 372.816C258.381 373.595 259.284 374.196 260.286 374.575C260.495 374.62 260.61 374.552 261.013 374.245C261.071 374.2 261.13 374.155 261.192 374.109C261.514 373.805 261.93 373.619 262.372 373.581H262.374C262.817 373.626 263.243 373.776 263.617 374.017C264.698 374.566 265.708 375.244 266.625 376.038C266.888 376.263 267.101 376.539 267.251 376.85C267.299 376.99 267.317 377.14 267.304 377.288C267.291 377.436 267.246 377.579 267.173 377.709C267.159 377.741 267.143 377.776 267.126 377.816C266.962 378.205 266.762 378.578 266.53 378.931C266.168 379.547 265.634 380.043 264.994 380.359C264.634 380.529 264.24 380.615 263.842 380.611Z" fill="#008C8C"/>
                <path d="M394.695 389.751C404.563 389.751 412.563 381.745 412.563 371.87C412.563 361.994 404.563 353.989 394.695 353.989C384.826 353.989 376.826 361.994 376.826 371.87C376.826 381.745 384.826 389.751 394.695 389.751Z" fill="white"/>
                <path d="M394.695 385.578C402.261 385.578 408.394 379.441 408.394 371.87C408.394 364.299 402.261 358.161 394.695 358.161C387.129 358.161 380.996 364.299 380.996 371.87C380.996 379.441 387.129 385.578 394.695 385.578Z" fill="white"/>
                <path d="M397.191 379.987H392.199C392.117 379.987 392.035 379.971 391.959 379.94C391.884 379.909 391.815 379.863 391.756 379.805C391.698 379.747 391.652 379.678 391.62 379.602C391.589 379.526 391.573 379.445 391.573 379.363C391.573 379.28 391.589 379.199 391.62 379.123C391.652 379.047 391.698 378.978 391.756 378.92C391.815 378.862 391.884 378.816 391.959 378.785C392.035 378.754 392.117 378.738 392.199 378.738H397.191C397.273 378.738 397.354 378.754 397.43 378.785C397.506 378.816 397.575 378.862 397.633 378.92C397.692 378.978 397.738 379.047 397.769 379.123C397.801 379.199 397.817 379.28 397.817 379.363C397.817 379.445 397.801 379.526 397.769 379.602C397.738 379.678 397.692 379.747 397.633 379.805C397.575 379.863 397.506 379.909 397.43 379.94C397.354 379.971 397.273 379.987 397.191 379.987Z" fill="#6C63FF"/>
                <path d="M394.695 376.865C393.206 376.863 391.779 376.271 390.726 375.217C389.673 374.164 389.081 372.735 389.079 371.245V369.996C389.08 369.831 389.146 369.673 389.263 369.556C389.38 369.44 389.538 369.374 389.703 369.374C389.868 369.374 390.027 369.44 390.143 369.556C390.26 369.673 390.326 369.831 390.327 369.996V371.245C390.326 371.82 390.439 372.389 390.658 372.92C390.877 373.451 391.199 373.933 391.604 374.34C392.01 374.746 392.492 375.069 393.022 375.289C393.552 375.509 394.121 375.622 394.695 375.622C395.269 375.622 395.837 375.509 396.368 375.289C396.898 375.069 397.38 374.746 397.785 374.34C398.191 373.933 398.513 373.451 398.732 372.92C398.951 372.389 399.063 371.82 399.063 371.245V369.996C399.063 369.831 399.129 369.673 399.246 369.556C399.363 369.44 399.522 369.374 399.687 369.374C399.852 369.374 400.01 369.44 400.127 369.556C400.244 369.673 400.31 369.831 400.311 369.996V371.245C400.309 372.735 399.717 374.164 398.664 375.217C397.611 376.271 396.184 376.863 394.695 376.865Z" fill="#008C8C"/>
                <path d="M394.695 379.987C394.613 379.987 394.532 379.971 394.456 379.939C394.38 379.908 394.312 379.862 394.254 379.804C394.196 379.746 394.15 379.677 394.118 379.602C394.087 379.526 394.071 379.445 394.071 379.363V376.241C394.071 376.158 394.086 376.077 394.118 376.001C394.149 375.925 394.195 375.856 394.253 375.798C394.311 375.739 394.38 375.693 394.456 375.662C394.531 375.63 394.613 375.614 394.695 375.614C394.777 375.614 394.858 375.63 394.934 375.662C395.01 375.693 395.079 375.739 395.137 375.798C395.195 375.856 395.241 375.925 395.272 376.001C395.303 376.077 395.319 376.158 395.319 376.241V379.363C395.319 379.445 395.303 379.526 395.271 379.602C395.24 379.677 395.194 379.746 395.136 379.804C395.078 379.862 395.009 379.908 394.934 379.939C394.858 379.971 394.777 379.987 394.695 379.987Z" fill="#6C63FF"/>
                <path d="M394.695 374.367C394.283 374.366 393.876 374.282 393.497 374.121C393.118 373.959 392.775 373.723 392.49 373.427C391.904 372.836 391.576 372.038 391.575 371.206V366.874C391.572 366.049 391.896 365.257 392.477 364.672C393.057 364.086 393.846 363.755 394.671 363.752C394.679 363.752 394.687 363.752 394.695 363.752C395.106 363.748 395.514 363.826 395.894 363.981C396.275 364.136 396.62 364.366 396.911 364.657C397.201 364.948 397.431 365.294 397.586 365.674C397.742 366.055 397.819 366.463 397.815 366.874V371.206C397.819 372.039 397.493 372.84 396.908 373.432C396.323 374.025 395.527 374.361 394.695 374.367Z" fill="#008C8C"/>
                </g>
                <defs>
                <filter id="filter0_d_5:544" x="0" y="0" width="661" height="431" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feGaussianBlur stdDeviation="5"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_5:544"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_5:544" result="shape"/>
                </filter>
                <clipPath id="clip0_5:544">
                <rect width="641" height="411" fill="white" transform="translate(6 6)"/>
                </clipPath>
                </defs>
            </svg>                
        </div>

    </section>


    <section class="about-2">

        <svg class="wave" viewBox="0 0 1440 231" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <path d="M0 92.4L48 107.776C96 123.441 192 153.759 288 177.076C384 199.959 480 215.841 576 200.176C672 184.8 768 138.6 864 123.224C960 107.559 1056 123.441 1152 123.224C1248 123.441 1344 107.559 1392 100.124L1440 92.4V231H1392C1344 231 1248 231 1152 231C1056 231 960 231 864 231C768 231 672 231 576 231C480 231 384 231 288 231C192 231 96 231 48 231H0V92.4Z" fill="#008C8C"/>
            </g>
            <defs>
            <clipPath id="clip0_5:599">
            <rect width="1440" height="231" fill="white"/>
            </clipPath>
            </defs>
        </svg>
            
            
        <div class="about-2-l">
            <svg class="howsvg" width="550" height="519" viewBox="0 0 702 519" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6:801)">
                <path d="M69.0355 137.937C107.163 137.937 138.071 107.058 138.071 68.9683C138.071 30.8781 107.163 0 69.0355 0C30.9083 0 0 30.8781 0 68.9683C0 107.058 30.9083 137.937 69.0355 137.937Z" fill="#F0F0F0"/>
                <path d="M632.964 292.492C671.092 292.492 702 261.614 702 223.524C702 185.434 671.092 154.555 632.964 154.555C594.837 154.555 563.929 185.434 563.929 223.524C563.929 261.614 594.837 292.492 632.964 292.492Z" fill="#F0F0F0"/>
                <path d="M417.304 513.416L405.167 508.31L396.841 447.526H285.964L276.939 508.062L266.081 513.486C265.561 513.745 265.145 514.172 264.898 514.698C264.652 515.224 264.591 515.817 264.724 516.382C264.858 516.946 265.178 517.45 265.634 517.81C266.089 518.17 266.653 518.366 267.234 518.366H416.304C416.899 518.366 417.476 518.16 417.937 517.784C418.398 517.407 418.714 516.883 418.831 516.3C418.949 515.717 418.862 515.111 418.583 514.585C418.305 514.06 417.853 513.646 417.304 513.416V513.416Z" fill="#E6E6E6"/>
                <path d="M614.339 455.613H69.6828C66.8251 455.606 64.0867 454.468 62.0683 452.447C60.0499 450.426 58.9163 447.687 58.9163 444.833V368.104H625.106V444.833C625.106 447.687 623.972 450.426 621.954 452.447C619.935 454.468 617.197 455.606 614.339 455.613V455.613Z" fill="#CCCCCC"/>
                <path d="M625.675 404.368H58.4193V76.061C58.4232 72.6156 59.7951 69.3125 62.2337 66.8762C64.6724 64.44 67.9788 63.0697 71.4276 63.0658H612.667C616.115 63.0696 619.422 64.44 621.861 66.8762C624.299 69.3124 625.671 72.6156 625.675 76.061V404.368Z" fill="#3F3D56"/>
                <path d="M591.795 380.539H92.2992C89.6404 380.536 87.0914 379.48 85.2113 377.601C83.3313 375.723 82.2737 373.177 82.2708 370.521V96.9127C82.2737 94.2565 83.3312 91.7098 85.2113 89.8316C87.0913 87.9533 89.6404 86.8967 92.2992 86.8937H591.795C594.454 86.8967 597.003 87.9533 598.883 89.8316C600.763 91.7098 601.821 94.2565 601.824 96.9127V370.521C601.821 373.177 600.763 375.723 598.883 377.601C597.003 379.48 594.454 380.536 591.795 380.539V380.539Z" fill="white"/>
                <path d="M482.131 519H201.457C201.17 519.006 200.888 518.917 200.657 518.747C200.425 518.576 200.257 518.334 200.177 518.058C200.128 517.87 200.122 517.673 200.16 517.483C200.199 517.292 200.281 517.113 200.399 516.959C200.518 516.805 200.67 516.68 200.845 516.594C201.019 516.508 201.211 516.464 201.406 516.463H482.027C482.33 516.453 482.628 516.545 482.872 516.725C483.116 516.905 483.292 517.163 483.371 517.455C483.412 517.641 483.411 517.833 483.368 518.018C483.325 518.203 483.241 518.376 483.122 518.525C483.003 518.673 482.852 518.793 482.681 518.875C482.509 518.957 482.321 519 482.131 519Z" fill="#CCCCCC"/>
                <path d="M535.178 331.832H429.939C429.677 331.854 429.417 331.772 429.214 331.605C429.012 331.437 428.883 331.197 428.856 330.936V246.131C428.883 245.869 429.012 245.629 429.214 245.462C429.417 245.294 429.677 245.213 429.939 245.235H535.178C535.44 245.213 535.7 245.294 535.903 245.462C536.106 245.629 536.234 245.869 536.262 246.131V330.936C536.234 331.197 536.106 331.437 535.903 331.605C535.7 331.772 535.44 331.854 535.178 331.832V331.832Z" fill="#F0F0F0"/>
                <path d="M523.739 254.618H441.378C441.091 254.618 440.816 254.732 440.612 254.935C440.409 255.138 440.295 255.413 440.295 255.7V319.456C440.295 319.743 440.409 320.018 440.612 320.221C440.816 320.424 441.091 320.538 441.378 320.538H523.739C524.026 320.538 524.302 320.424 524.505 320.221C524.708 320.018 524.822 319.743 524.823 319.456V255.7C524.822 255.413 524.708 255.138 524.505 254.935C524.302 254.732 524.026 254.618 523.739 254.618V254.618Z" fill="white"/>
                <path d="M480.524 297.819C486.307 297.819 490.996 293.136 490.996 287.358C490.996 281.58 486.307 276.896 480.524 276.896C474.741 276.896 470.052 281.58 470.052 287.358C470.052 293.136 474.741 297.819 480.524 297.819Z" fill="#FFB8B8"/>
                <path d="M495.845 320.538H472.627L473.386 303.485L473.566 303.296L476.172 300.545H484.463L487.537 303.519L487.784 303.76L494.328 310.025L495.845 320.538Z" fill="#008C8C"/>
                <path d="M476.62 320.538H459.055C459.011 316.689 458.987 314.384 458.987 314.384L460.003 313.766L460.008 313.763H460.011L471.204 306.974L473.554 303.161L473.566 303.295L474.258 311.333C474.258 311.333 475.399 315.019 476.62 320.538Z" fill="#2F2E41"/>
                <path d="M506.142 320.538H487.536C487.818 309.313 486.301 303.161 487.081 303.161L487.536 303.519L493.02 307.845L500.247 310.494H500.252L505.234 312.32L506.108 312.64V313.051C506.111 314.038 506.116 316.735 506.142 320.538Z" fill="#2F2E41"/>
                <path d="M470.617 290.631C470.617 290.631 471.507 289.07 471.3 283.855C471.093 278.641 479.041 281.59 485.683 281.093C492.325 280.595 490.919 289.799 490.919 289.799C490.919 289.799 491.398 289.251 492.424 284.81C493.45 280.368 491.121 275.941 491.121 275.941C490.435 271.274 486.737 272.77 486.737 272.77C487.205 272.888 487.611 273.177 487.877 273.578C488.143 273.98 488.25 274.467 488.176 274.943C486.669 272.303 482.972 273.799 482.972 273.799C478.041 270.708 473.043 274.778 473.043 274.778C467.087 276.129 470.58 280.862 470.58 280.862C464.59 283.886 470.617 290.631 470.617 290.631Z" fill="#2F2E41"/>
                <path d="M461.4 320.538H454.183C454.239 319.65 454.241 318.759 454.187 317.87C453.756 316.155 459.82 313.836 460.003 313.766L460.008 313.763H460.011L461.167 314.384L461.4 320.538Z" fill="#2F2E41"/>
                <path d="M507.445 320.538H499.864L498.918 311.204L499.98 310.429C499.98 310.429 500.076 310.451 500.247 310.494H500.252C501.984 310.888 503.658 311.501 505.234 312.32C505.569 312.507 505.865 312.755 506.109 313.051C506.258 313.23 506.332 313.459 506.316 313.691C506.277 314.04 506.72 316.61 507.445 320.538Z" fill="#2F2E41"/>
                <path d="M534.835 223.628H429.596C429.334 223.65 429.074 223.568 428.871 223.401C428.669 223.233 428.54 222.993 428.513 222.732V137.896C428.54 137.635 428.669 137.395 428.871 137.227C429.074 137.06 429.334 136.978 429.596 137H534.835C535.097 136.978 535.358 137.06 535.56 137.227C535.763 137.395 535.892 137.635 535.919 137.896V222.732C535.892 222.993 535.763 223.233 535.56 223.401C535.358 223.568 535.097 223.65 534.835 223.628V223.628Z" fill="#F0F0F0"/>
                <path d="M523.396 146.383H441.036C440.748 146.384 440.473 146.498 440.27 146.701C440.067 146.904 439.952 147.179 439.952 147.466V211.221C439.952 211.508 440.067 211.783 440.27 211.986C440.473 212.189 440.748 212.303 441.036 212.304H523.396C523.683 212.303 523.959 212.189 524.162 211.986C524.365 211.783 524.479 211.508 524.48 211.221V147.466C524.479 147.179 524.365 146.904 524.162 146.701C523.959 146.498 523.683 146.384 523.396 146.383V146.383Z" fill="white"/>
                <path d="M502.488 212.304C502.953 210.632 503.314 209.191 503.5 208.171C503.557 207.856 503.563 207.534 503.516 207.218C502.823 202.288 490.295 198.121 488.689 197.606L488.301 193.314L472.532 191.618L470.536 197.108L464.877 199.228C464.672 199.304 464.477 199.404 464.296 199.526C463.822 199.846 463.457 200.304 463.25 200.838C463.044 201.372 463.007 201.956 463.143 202.512L465.554 212.304H502.488L502.488 212.304Z" fill="#008C8C"/>
                <path d="M469.799 212.304H457.563C458.001 209.576 458.394 207.162 458.649 205.627C459.584 200.041 463.658 199.565 464.296 199.526C464.347 199.521 464.378 199.521 464.381 199.521H466.955L469.799 212.304Z" fill="#008C8C"/>
                <path d="M502.488 212.304H505.455C505.311 210.458 504.638 208.692 503.516 207.218C502.954 206.475 502.228 205.872 501.395 205.454L501.171 205.358L498.563 212.304H502.488Z" fill="#008C8C"/>
                <path d="M479.801 188.901C486.071 188.901 491.155 183.823 491.155 177.559C491.155 171.294 486.071 166.216 479.801 166.216C473.53 166.216 468.447 171.294 468.447 177.559C468.447 183.823 473.53 188.901 479.801 188.901Z" fill="#A0616A"/>
                <path d="M472.18 172.033C473.355 173.422 475.344 173.814 477.179 173.974C481.469 174.21 485.771 173.859 489.965 172.931C490.227 175.447 489.517 178.161 491 180.231C491.696 177.725 492.1 175.147 492.206 172.548C492.316 171.433 492.171 170.308 491.78 169.257C491.571 168.731 491.218 168.274 490.762 167.938C490.306 167.602 489.764 167.401 489.199 167.357C490.045 166.716 491.036 166.293 492.084 166.125L488.479 164.315L489.405 163.366L482.878 162.967L484.769 161.767C481.922 161.377 479.043 161.286 476.178 161.497C474.839 161.498 473.526 161.862 472.379 162.552C471.302 163.322 470.679 164.852 471.348 165.982C470.511 166.12 469.722 166.468 469.057 166.995C468.392 167.522 467.873 168.21 467.549 168.994C467.139 170.24 467.04 171.566 467.261 172.859C467.506 174.933 467.989 176.972 468.698 178.936" fill="#2F2E41"/>
                <path d="M147.833 329.46V137.627C147.9 137.032 148.198 136.487 148.662 136.108C149.127 135.729 149.722 135.547 150.319 135.601H391.755C392.352 135.547 392.947 135.729 393.411 136.108C393.876 136.487 394.174 137.032 394.241 137.627V329.46C394.174 330.055 393.876 330.6 393.411 330.979C392.947 331.358 392.352 331.54 391.755 331.486H150.319C149.722 331.54 149.127 331.358 148.662 330.979C148.198 330.6 147.9 330.055 147.833 329.46V329.46Z" fill="#E4E4E4"/>
                <path d="M174.076 159.611V305.877C174.077 306.535 174.339 307.167 174.805 307.632C175.271 308.098 175.903 308.36 176.562 308.361H365.512C366.171 308.36 366.802 308.098 367.268 307.632C367.734 307.167 367.997 306.535 367.998 305.877V159.611C367.997 158.953 367.734 158.322 367.268 157.856C366.802 157.39 366.171 157.128 365.512 157.127H176.562C175.903 157.128 175.271 157.39 174.805 157.856C174.339 158.322 174.077 158.953 174.076 159.611V159.611Z" fill="white"/>
                <path d="M252.446 308.361H290.473L288.103 272.826L274.385 275.989L261.042 270.862L260.689 270.729L260.667 270.718C260.662 270.729 260.658 270.74 260.655 270.751C260.446 271.596 256.258 288.347 252.446 308.361Z" fill="#008C8C"/>
                <path d="M229.528 278.628L233.081 308.36H265.131L261.042 270.862L261.003 270.497L260.689 270.729L260.656 270.751L252.749 276.514L229.528 278.628Z" fill="#2F2E41"/>
                <path d="M284.849 308.361H313.55L313.965 284.953L292.843 277.954L288.103 272.826C288.103 272.826 286.606 288.253 284.849 308.361Z" fill="#2F2E41"/>
                <path d="M215.711 308.361H239.495L237.97 287.061L229.529 278.627C229.529 278.627 222.849 292.625 215.711 308.361Z" fill="#2F2E41"/>
                <path d="M306.782 308.361H319.329C319.274 301.539 319.241 296.825 319.241 295.495C319.304 293.439 318.855 291.399 317.934 289.559C317.013 287.719 315.649 286.136 313.965 284.953L307.628 287.061L306.782 308.361Z" fill="#2F2E41"/>
                <path d="M308.74 261.645H242.255V233.651C242.255 224.056 249.021 212.522 257.337 207.937C269.009 201.504 281.77 201.391 292.346 207.629C297.325 210.574 301.453 214.759 304.326 219.776C307.2 224.793 308.721 230.469 308.74 236.249V261.645Z" fill="#2F2E41"/>
                <path d="M297.885 248.472C304.246 236.846 299.97 222.269 288.332 215.914C276.695 209.559 262.104 213.831 255.743 225.457C249.381 237.083 253.658 251.659 265.295 258.015C276.933 264.37 291.523 260.097 297.885 248.472Z" fill="#FFB8B8"/>
                <path d="M299.639 238.202H265.38L265.299 237.814C264.903 235.774 264.39 233.758 263.765 231.776C262.404 233.767 261.149 235.828 260.006 237.951L259.866 238.202H253.206C252.797 238.202 252.393 238.116 252.02 237.951C251.646 237.786 251.311 237.545 251.035 237.243C250.854 237.044 250.43 236.577 252.184 215.184C252.233 214.675 252.413 214.187 252.707 213.768C253 213.349 253.398 213.013 253.861 212.794C268.893 205.783 284.126 205.969 299.14 213.348H299.408L299.502 213.72C302.464 236.49 302.038 236.981 301.856 237.191C301.581 237.509 301.24 237.763 300.858 237.938C300.475 238.112 300.06 238.202 299.639 238.202V238.202Z" fill="#2F2E41"/>
                </g>
                <defs>
                <clipPath id="clip0_6:801">
                <rect width="702" height="519" fill="white"/>
                </clipPath>
                </defs>
            </svg>           
        </div>

        <div class="about-2-r">

            <h2 class="howh">How these meetings work?</h2>
            <p class="howp">
                Mentor of the bootcamp will make a schedule 
                with all of the meetings, on every meeting, the mentor will start sharing his screen,
                and he will conduct the meeting with live chat consisting of participants.
            </p>
            <a class="howa" href="/newest">Newest courses</a>
        </div>

    </section>

    <footer>

        <div class="footer-inner">
    
            <div class="f f1">
                <h3>Business</h3>
    
    
                <a href="#">Terms of use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Agreements</a>
    
            </div>
    
            <div class="f f2">
    
                <h3>Contact</h3>
    
                <a href="#">Email</a>
                <a href="#">Street</a>
                <a href="#">Phone Number</a>
    
            </div>
    
            <div class="f f3">
    
                <h3>Social Media</h3>
    
                <a href="#">Twitter</a>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
    
            </div>
    
        </div>
    </footer>
    
</body>
</html>